body
{
    background-image: url(tlo.jpg);
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#gora
{
    color: white;
    text-align: center;
    text-shadow: -2px 4px 9px rgba(0, 0, 0, 1);
}

#zad1,
#zad2,
#zad3,
#zad4,
#zad5
{
    background-color: gray;
    height: 100px;
    width: 200px;
    margin: 40px;
    float: left;
    color: white;
    text-shadow: -2px 4px 9px rgba(0, 0, 0, 1);
    text-align: center;
    padding-top: 90px;
    font-weight: bold;
    -webkit-box-shadow: 0px 8px 60px 8px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 8px 60px 8px rgba(0, 0, 0, 1);
    box-shadow: 0px 8px 60px 8px rgba(0, 0, 0, 1);
    border-radius: 20px;
    transition-duration: 0.4s;
}

#zad1:hover
{
    background-color: black;
    height: 120px;
    width: 220px;
    margin: 60px;
    float: left;
    color: white;
    text-shadow: -2px 4px 9px rgba(0, 0, 0, 1);
    text-align: center;
    padding-top: 110px;
    font-weight: bold;
    -webkit-box-shadow: 0px 8px 60px 8px white;
    -moz-box-shadow: 0px 8px 60px 8px white;
    box-shadow: 0px 8px 60px 8px white;
    border-radius: 20px;
    transition-duration: 0.4s;
}

#zad2:hover
{
    background-color: black;
    height: 120px;
    width: 220px;
    margin: 60px;
    float: left;
    color: white;
    text-shadow: -2px 4px 9px rgba(0, 0, 0, 1);
    text-align: center;
    padding-top: 110px;
    font-weight: bold;
    -webkit-box-shadow: 0px 8px 60px 8px white;
    -moz-box-shadow: 0px 8px 60px 8px white;
    box-shadow: 0px 8px 60px 8px white;
    border-radius: 20px;
    transition-duration: 0.4s;
}

#zad3:hover
{
    background-color: black;
    height: 120px;
    width: 220px;
    margin: 60px;
    float: left;
    color: white;
    text-shadow: -2px 4px 9px rgba(0, 0, 0, 1);
    text-align: center;
    padding-top: 110px;
    font-weight: bold;
    -webkit-box-shadow: 0px 8px 60px 8px white;
    -moz-box-shadow: 0px 8px 60px 8px white;
    box-shadow: 0px 8px 60px 8px white;
    border-radius: 20px;
    transition-duration: 0.4s;
}

#zad4:hover
{
    background-color: black;
    height: 120px;
    width: 220px;
    margin: 60px;
    float: left;
    color: white;
    text-shadow: -2px 4px 9px rgba(0, 0, 0, 1);
    text-align: center;
    padding-top: 110px;
    font-weight: bold;
    -webkit-box-shadow: 0px 8px 60px 8px white;
    -moz-box-shadow: 0px 8px 60px 8px white;
    box-shadow: 0px 8px 60px 8px white;
    border-radius: 20px;
    transition-duration: 0.4s;
}

#zad5:hover
{
    position: relative;
    background-color: black;
    height: 120px;
    width: 220px;
    margin: 60px;
    float: left;
    color: white;
    text-shadow: -2px 4px 9px rgba(0, 0, 0, 1);
    text-align: center;
    padding-top: 110px;
    font-weight: bold;
    -webkit-box-shadow: 0px 8px 60px 8px white;
    -moz-box-shadow: 0px 8px 60px 8px white;
    box-shadow: 0px 8px 60px 8px white;
    border-radius: 20px;
    transition-duration: 0.4s;
}

#stopka
{
    height: 55px;
    background-color: gray;
    clear: both;
    text-align: center;
    margin-top: 38%;
    text-shadow: -2px 4px 9px rgba(0, 0, 0, 1);
    font-weight: bold;
    padding-top: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 60px 8px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 8px 60px 8px rgba(0, 0, 0, 1);
    box-shadow: 0px 8px 60px 8px rgba(0, 0, 0, 1);
}

#timer
{
    text-align: center;
    font-size: 25px;
}